<!DOCTYPE html>
<html>

<head>
    <title>MoniCity | Contact</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="https://res.cloudinary.com/www-moni-city-com/image/upload/v1612914214/Moni-city%20website/Home/image_1_sk52m7.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/styles/Home/home.css">
    <link rel="stylesheet" href="/styles/About/about.css">
    <link rel="stylesheet" href="/styles/Contact/contact.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


    <link href="https://unpkg.com/webkul-micron@1.1.6/dist/css/micron.min.css" type="text/css" rel="stylesheet">
    <script src="https://unpkg.com/webkul-micron@1.1.6/dist/script/micron.min.js" type="text/javascript"></script>

</head>


<body>
    <div class="mc-sec-0">
        <div class="container">
            <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" href="/"><span class="footer-logo"><img src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1612914214/Moni-city%20website/Home/image_1_sk52m7.svg" alt=""></span></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navlinks" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>

                <div class="collapse navbar-collapse" id="navlinks">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item mx-4">
                            <a style="margin-left: 9rem;" class="py-2 pl-4 nav-link active" href="/">Home</a>
                        </li>

                        <li class="nav-item mx-4">
                            <a class="py-2 px-2 nav-link" data-micron="bounce" href="/about">About</a>
                        </li>

                        <li class="nav-item mx-4">
                            <a class="py-2 px-2 nav-link" href="/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>

            </nav>

            <div class="row">
                <div class="col-md-6">
                    <h1 class="mt-5">Contact Us</h1>

                    <p class="my-5"><i>"Our quest for better financing experience."</i></p>


                </div>

                <div class="col-md-6">
                    <div id="map" class="mb-3">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6">
                <h2 class="mt-3">
                    How can we help you ?
                </h2>

                <p class="py-5">If you would like to send us a message or you have any complaint about our services, please fill out the short form and we’ll reply as soon as possible.</p>

            </div>

            <div class="col-md-6">
                <form class="" action="" method="post">
                    <label for="">Name</label>
                    <input class="contact-input form-control py-3 my-2" type="text" name="contact[name]" id="" placeholder="name">

                    <label for="">Email</label>
                    <input class="contact-input form-control py-3 my-2" type="text" name="contact[email]" id="" placeholder="email">

                    <label for="">Purpose</label>
                    <input class="contact-input form-control py-3 my-2" type="text" name="contact[purpose]" id="" placeholder="purpose">

                    <label for="">Message</label>
                    <textarea class="contact-input form-control" name="contact[message]" id="" cols="30" rows="10" placeholder="message"></textarea>

                    <button id="submit" type="submit" class="mt-4 mx-3 btn btn-danger rounded-pill py-2 px-2 justify-content-center">Submit</button>
                </form>
            </div>
        </div>

        <div class="row mb-5 pb-5">
            <div class="col-md-4">
                <a href="#" style="text-decoration: none;">
                    <div class="card contact-card">
                        <div class="card-body">
                            <p class="mc-city py-2">Lagos</p>
                            <p class="text-center py-2">49A Chris Maduike street, Lekki,Lagos.</p>
                            <p class="text-center py-2">01 4540104</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <div class="card contact-card">
                    <div class="card-body">
                        <p class="mc-city py-2">Abuja</p>
                        <p class="text-center py-2">19, Magaji Ma’azu street, Katampe Extension, FCT, Abuja</p>
                        <p class="text-center py-2">08035277007</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card contact-card">
                    <div class="card-body">
                        <p class="mc-city py-2">Port-Harcourt</p>
                        <p class="text-center py-2">13, Mini Ezekwu street, Rumuogba, Port-Harcourt.</p>
                        <p class="text-center py-2">07046175496</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5 justify-content-center">
            <div class="col-md-10">
                <div class="card about-card">
                    <div class="card-body">
                        <h5 class="text-center my-3">Subscribe to our news letter</h1>
                            <form class="d-flex justify-content-center" action="/about" method="post">

                                <input id="email-input" class="form-control rounded-pill px-3" type="text" placeholder="email address" name="email">
                                <input id="submitBtn" class="mx-3 btn btn-danger rounded-pill py-2 px-2" data-micron="tada" type="submit" value="Subscribe">
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer py-5 mt-5">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <h3 class="footer-h3 py-4">MoniCity Ltd</h3>

                    <p>49A Chris Madueke Street Lekki,Lagos.</p>

                    <p class="info">info@monicity.com</p>

                    <p class="copy-right">Copyright © 2021 Moni-city Ltd. All Rights Reserved.</p>
                </div>

                <div class="col-md-3">

                </div>

                <div class="col-md-3">

                </div>

                <div class="col-md-3">

                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a6f7970f75.js" crossorigin="anonymous"></script>

</body>

</html>

<script>
    function initMap() {
        let moniCityHq = {
            lat: 6.44055,
            lng: 3.46017
        };

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: moniCityHq
        });

        // The marker, positioned.
        var marker = new google.maps.Marker({
            position: moniCityHq,
            map: map
        });
    }

    // let cards = document.querySelectorAll('.contact-card');
    // cards.forEach((card) => {
    //     card.addEventListener('mouseover', () => {
    //         card.classList.add('hover-contact')
    //     })
    // })
</script>

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2z2s4wuX10IVniLlFtfCjxrOE3ZQSWk8&callback=initMap"></script>