<!DOCTYPE html>
<html lang="en">

<head>
    <title>MoniCity</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="https://res.cloudinary.com/www-moni-city-com/image/upload/v1612914214/Moni-city%20website/Home/image_1_sk52m7.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/styles/Home/home.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


</head>

<body>
    <div class="mc-sec-0">
        <div class="container">
            <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" href="/"><span class="footer-logo"><img src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1612914214/Moni-city%20website/Home/image_1_sk52m7.svg" alt=""></span></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navlinks" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>

                <div class="collapse navbar-collapse" id="navlinks">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item mx-4">
                            <a style="margin-left: 9rem;" class="py-2 pl-4" href="/">Home</a>
                        </li>

                        <li class="nav-item mx-4">
                            <a class="py-2 px-2" href="/about">About</a>
                        </li>

                        <li class="nav-item mx-4">
                            <a class="py-2 px-2" href="/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>

            </nav>

            <div class="row">
                <div class="col-md-6">
                    <h1 class="mt-5">Funding beyond<br>your imagination</h1>

                    <p class="my-5">Open an account with our innovative financial power<br> house, and experience world class<br> financial services.</p>
                </div>

                <div class="col-md-6">
                    <img class="mc-rank" src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1613485389/Moni-city%20website/Home/Rank_Projects_ncot9w.svg" alt="">
                    <img class="mc-train-img" src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1612914217/Moni-city%20website/Home/cardBg-1_1_l96v9h.svg" alt="">
                    <img class="mc-trd-img" src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1612914213/Moni-city%20website/Home/Group_211_xcspvl.svg" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>

    <div class="sec-1 mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h2 class="text-center mt-5">Why MoniCity</h2>
                </div>
            </div>

            <div class="row mt-5 justify-content-center">
                <div class="col-md-4">
                    <img class="img-fluid mx-auto d-block" src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1612914211/Moni-city%20website/Home/Group_219_ibtpz2.svg" alt="">
                    <h3 class="sec-1-h3 mt-5 text-center">No hidden Charges</h3>
                    <p class="mt-2 text-center">Our transactions have high quality and clear information which makes them easy to understand with full disclosures. No fine prints.</p>
                </div>

                <div class="col-md-4">
                    <img class="img-fluid mx-auto d-block" src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1612914211/Moni-city%20website/Home/Group_219_ibtpz2.svg" alt="">
                    <h3 class="sec-1-h3 mt-5 text-center">Fast Loan process</h3>
                    <p class="mt-2 text-center">Our processes are not cumbersome. They are fast and customer friendly, giving you immediate access to funds exactly when you need it.</p>
                    <p class="text-center">We assure you of quick Turnaround time starting from receipt, processing and approval of your loan application.</p>
                </div>

                <div class="col-md-4">
                    <img class="img-fluid mx-auto d-block" src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1612914211/Moni-city%20website/Home/Group_219_ibtpz2.svg" alt="">
                    <h3 class="sec-1-h3 mt-5 text-center">Competitive Pricing</h3>
                    <p class="mt-2 text-center">We strategically price our risk asset products based on market relative to competition. It is a strategy targeted at defined customers and against competitors for value-additive benefits to our customers.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="sec-2 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center my-5">Products</h2>
                </div>
            </div>


            <div class="row mt-5">
                <div class="col-md-6">
                    <img class="img-fluid" src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1612914215/Moni-city%20website/Home/cardBg_3_jlpg4i.svg" alt="">
                </div>

                <div class="col-md-6">
                    <h3 class="sec-2-h3 ml-md-3">Local Purchasing Order<br>(LPO) Financing</h3>
                    <p class="ml-md-3">We create loans for your business to fiancé your LPO for the supply of materials or execution of specific supply contracts from reputable organizations.</p>
                    <a href="tel:08033090002">
                        <p class="sch-meeting ml-md-3">Schedule a meeting <img src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1613503873/Moni-city%20website/Home/Path_372_gvyx42.svg" alt=""></p>
                    </a>
                </div>
            </div>

            <div class="row mt-5" style="padding-bottom: 6rem;">
                <div class="col-md-6">
                    <h3 class="sec-2-h3">Receivable Financing</h3>
                    <p>Get access to specialized bridge finance on future cash flows. It is a means of short- term funding that a business can draw on using its receivables. It is useful to bridge cash flow mismatch.</p>
                    <a href="tel:08033090002">
                        <p class="sch-meeting">Schedule a meeting <img src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1613503873/Moni-city%20website/Home/Path_372_gvyx42.svg" alt=""></p>
                    </a>
                </div>

                <div class="col-md-6">
                    <img class="mx-auto d-block" src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1612914215/Moni-city%20website/Home/bg_1_qriir2.svg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="sec-3">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-6">
                    <img class="sec3-asset-img" src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1612914216/Moni-city%20website/Home/Group_gzsgtd.svg" alt="">
                    <img class="sec3-asset-img2" src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1613499849/Moni-city%20website/Home/cardBg_ycvhhc.svg" alt="">
                </div>

                <div class="col-md-6">
                    <h3 class="sec-2-h3 ml-md-3">Asset based Financing</h3>
                    <p class="ml-md-3">Providing access to funding for the acquisition of assets for business needs. We provide finance or sale and lease back to support your acquisition of assets or equipment.</p>
                    <a href="tel:08033090002">
                        <p class="sch-meeting ml-md-3">Schedule a meeting <img src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1613503873/Moni-city%20website/Home/Path_372_gvyx42.svg" alt=""></p>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="sec-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="sec-2-h3">Invoice discounting</h3>
                    <p>Providing access to funding for the acquisition of assets for business needs. We provide finance or sale and lease back to support your acquisition of assets or equipment.
                    </p>
                    <a href="tel:08033090002">
                        <p class="sch-meeting">Schedule a meeting <img src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1613503873/Moni-city%20website/Home/Path_372_gvyx42.svg" alt=""></p>
                    </a>
                </div>

                <div class="col-md-6">
                    <img class="mc-inv-discount mx-auto d-block" src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1612914212/Moni-city%20website/Home/discount_1_1_lincnt.svg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="sec-5">
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-6">
                    <img class="loan-issuance" src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1612914216/Moni-city%20website/Home/cardBg_nrrjey.svg" alt="">
                </div>

                <div class="col-md-6">
                    <h3 class="sec-2-h3">Loan Issuance</h3>
                    <p> Easy access to funding for Commercial business ventures with short-term funding needs.
                    </p>

                    <p> We provide customized financing options for your business that allows you to build on its success and plan for growth.</p>
                    <a href="tel:08033090002">
                        <p class="sch-meeting">Schedule a meeting <img src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1613503873/Moni-city%20website/Home/Path_372_gvyx42.svg" alt=""></p>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="sec-6">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-6">
                    <h3 class="sec-2-h3">Contract Financing</h3>
                    <p>This is a way for your business to receive cash advance on work you are yet to perform. It is collaterized by a contract between customers and contractee, wherein payment milestones are specified based on work progress towards job
                        completion.
                    </p>

                    <p>
                        Our contract financing facility is aimed at making you experience peace of mind that comes with timely execution of contracts.
                    </p>
                    <a href="tel:08033090002">
                        <p class="sch-meeting">Schedule a meeting <img src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1613503873/Moni-city%20website/Home/Path_372_gvyx42.svg" alt=""></p>
                    </a>
                </div>

                <div class="col-md-6">
                    <img class="mc-people-standing" src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1612914215/Moni-city%20website/Home/cardBg_1_orvzns.svg" alt="">
                    <img class="mc-man-sign mx-auto d-block" src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1612914213/Moni-city%20website/Home/bg_qp3qfl.svg" alt="">
                </div>
            </div>
        </div>
    </div>




    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">

                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a6f7970f75.js" crossorigin="anonymous"></script>

</body>

</html>