<!DOCTYPE html>
<html lang="en">

<head>
    <title>MoniCity | About</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="https://res.cloudinary.com/www-moni-city-com/image/upload/v1612914214/Moni-city%20website/Home/image_1_sk52m7.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/styles/Home/home.css">
    <link rel="stylesheet" href="/styles/About/about.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


    <link href="https://unpkg.com/webkul-micron@1.1.6/dist/css/micron.min.css" type="text/css" rel="stylesheet">
    <script src="https://unpkg.com/webkul-micron@1.1.6/dist/script/micron.min.js" type="text/javascript"></script>
</head>

<body>
    <div class="mc-sec-0">
        <div class="container">
            <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" href="/"><span class="footer-logo"><img src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1612914214/Moni-city%20website/Home/image_1_sk52m7.svg" alt=""></span></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navlinks" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>

                <div class="collapse navbar-collapse" id="navlinks">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item mx-4">
                            <a style="margin-left: 9rem;" class="home-navlink py-md-2 pl-md-4 nav-link active" href="/">Home</a>
                        </li>

                        <li class="nav-item mx-4">
                            <a class="py-md-2 px-md-2 nav-link" data-micron="bounce" href="/about">About</a>
                        </li>

                        <li class="nav-item mx-4">
                            <a class="py-md-2 px-md-2 nav-link" href="/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>

            </nav>

            <div class="row">
                <div class="col-md-6">
                    <h1 class="mt-5">About Us</h1>

                    <p class="my-5"><i>"Our quest for better financing experience."</i></p>

                    <p class="my-2">At MoniCity, our customers come first. We recognize that good corporate governance is key to ensuring and retaining the trust and confidence of our stakeholders.</p>

                    <p class="my-2"> We strive to deliver a profitable and sustainable economic growth by helping customers to achieve their business objectives.</p>
                </div>

                <div class="col-md-6">
                    <img class="mc-rank" src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1613485389/Moni-city%20website/Home/Rank_Projects_ncot9w.svg" alt="">
                    <img class="mc-train-img" src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1612914217/Moni-city%20website/Home/cardBg-1_1_l96v9h.svg" alt="">
                    <img class="mc-trd-img mb-md-0 mb-4" src="https://res.cloudinary.com/www-moni-city-com/image/upload/v1612914213/Moni-city%20website/Home/Group_211_xcspvl.svg" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>

    <div class="sec-2">
        <div class="container">
            <div class="row mt-5 justify-content-center">
                <div class="col-md-8">
                    <h2 class="text-center my-md-2 our-mission">Our Mission</h2>
                    <p class="text-center">To be the leader in all worthy causes.</p>
                </div>
            </div>

            <div class="row mt-5 justify-content-center">
                <div class="col-md-8">
                    <h2 class="text-center my-2">Our Vision</h2>
                    <p class="text-center">To build the MoniCity brand into a reputable financial institution within the financial services Industry for the benefits of our customers and other stakeholders.</p>
                </div>
            </div>

            <div class="row mt-5 justify-content-center">
                <div class="col-md-8">
                    <h2 class="text-center my-2">Our Team</h2>
                    <p class="text-center py-2">Our team of Professionals render advisory services for ease of business operations.</p>
                    <p class="text-center py-2">They are dedicated team across key sectors of the economy.</p>
                    <p class="text-center py-2">We understand the unique financial needs of our clients and are committed to providing them with competitive and top-notch financial services.</p>
                </div>
            </div>


            <div class="row mt-5 justify-content-center">
                <div class="col-md-10">
                    <div class="card about-card">
                        <div class="card-body">
                            <h5 class="text-center my-3">Subscribe to our news letter</h1>
                                <form class="d-flex justify-content-center" action="/about" method="post">

                                    <input id="email-input" class="form-control rounded-pill px-3" type="text" placeholder="email address" name="email">
                                    <input id="submitBtn" class="mx-3 btn btn-danger rounded-pill py-2 px-2" data-micron="tada" type="submit" value="Subscribe">
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

        </div>
    </div>


    <!--What Clients are saying-->
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <h2 class="text-center mt-5">What clients are saying</h2>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card my-1 my-md-0">

                    <div class="card-body">
                        <p>‘’ I eventually found my financial services partner after years of frustration. At MoniCity, Teamwork, Integrity, Excellence and Professionalism are unparalleled’’</p>
                    </div>

                    <p class="card-title my-3 text-center">Kingsley Onwubiko</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card my-1 my-md-0">
                    <div class="card-body">
                        <p>‘’I spent years with some other financial institutions thinking that was all rendering financial services was supposed to be, until I switched to MoniCity. I then realized what financial services really entails. The service quality
                            and professionalism is unmatched. </p>
                        <p>They understand me, my business and we are partners in progress ‘’</p>
                    </div>

                    <p class="card-title my-3 text-center">Temi Adesogan</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card my-1 my-md-0">
                    <div class="card-body">
                        <p>‘’ I have never met any financial services provider who is able to provide services with expertise that your business needs to thrive, apart from MoniCity ‘’</p>
                    </div>

                    <p class="card-title my-3 text-center">Musa Abdullahi</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer py-5 mt-5">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <h3 class="footer-h3 py-4">MoniCity Ltd</h3>

                    <p>49A Chris Madueke Street Lekki,Lagos.</p>

                    <p class="info">info@monicity.com</p>

                    <p class="copy-right">Copyright © 2021 Moni-city Ltd. All Rights Reserved.</p>
                </div>

                <div class="col-md-3">

                </div>

                <div class="col-md-3">

                </div>

                <div class="col-md-3">

                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a6f7970f75.js" crossorigin="anonymous"></script>

</body>

</html>